# binaries
dist/

# pycache
**/__pycache__/**

.mypy_cache
.pytest_cache

# venv
.python-version
pyrightconfig.json

# environment variables
.env
env.list

# IDE
.vscode/

# temp test files
test/temp/
test/test_manual.py

# docker run script
run_dockerfile.sh
